-- CreateEnum
CREATE TYPE "event_mode" AS ENUM ('online', 'onsite');

-- CreateEnum
CREATE TYPE "member_position" AS ENUM ('professor', 'phd_student', 'msc_student', 'undergrade_student', 'volunteer');

-- CreateEnum
CREATE TYPE "project_member_type" AS ENUM ('personal', 'organization');

-- CreateEnum
CREATE TYPE "userRoles" AS ENUM ('admin');

-- CreateTable
CREATE TABLE "article_participation" (
    "article_participation_id" INTEGER NOT NULL,
    "member_id" INTEGER,
    "article_id" INTEGER,
    "position" VARCHAR,

    CONSTRAINT "article_participation_pkey" PRIMARY KEY ("article_participation_id")
);

-- CreateTable
CREATE TABLE "articles" (
    "article_id" INTEGER NOT NULL,
    "project" INTEGER,
    "field" VARCHAR,
    "abstract" VARCHAR,
    "referencias" VARCHAR,
    "doi" VARCHAR,
    "demo" VARCHAR,
    "acknowledgment" VARCHAR,
    "conference_name" VARCHAR,
    "keywords" VARCHAR,
    "conference_date" DATE,
    "conference_place" VARCHAR,

    CONSTRAINT "articles_pkey" PRIMARY KEY ("article_id")
);

-- CreateTable
CREATE TABLE "events" (
    "event_id" INTEGER NOT NULL,
    "name" VARCHAR,
    "event_date" DATE,
    "location" VARCHAR,
    "mode" "event_mode",
    "type" VARCHAR,
    "audiencia" VARCHAR,

    CONSTRAINT "events_pkey" PRIMARY KEY ("event_id")
);

-- CreateTable
CREATE TABLE "external_members" (
    "external_members_id" INTEGER NOT NULL,
    "name" VARCHAR,
    "description" VARCHAR,
    "cpf" VARCHAR,
    "country" VARCHAR,
    "institution" VARCHAR,

    CONSTRAINT "external_members_pkey" PRIMARY KEY ("external_members_id")
);

-- CreateTable
CREATE TABLE "external_members_projects" (
    "external_members_projects_id" INTEGER NOT NULL,
    "project_id" INTEGER,
    "external_member_id" INTEGER,
    "association_date" DATE,

    CONSTRAINT "external_members_projects_pkey" PRIMARY KEY ("external_members_projects_id")
);

-- CreateTable
CREATE TABLE "members" (
    "member_id" INTEGER NOT NULL,
    "name" VARCHAR,
    "position" "member_position",
    "description" VARCHAR,
    "profile_pic" VARCHAR,

    CONSTRAINT "members_pkey" PRIMARY KEY ("member_id")
);

-- CreateTable
CREATE TABLE "project" (
    "project_id" INTEGER NOT NULL,
    "name" VARCHAR,
    "abstract" VARCHAR,
    "members" INTEGER,
    "validity" DATE,

    CONSTRAINT "project_pkey" PRIMARY KEY ("project_id")
);

-- CreateTable
CREATE TABLE "project_associated" (
    "project_associated_id" INTEGER NOT NULL,
    "name" VARCHAR,
    "type" "project_member_type",
    "cpf_cnpj" VARCHAR,

    CONSTRAINT "project_associated_pkey" PRIMARY KEY ("project_associated_id")
);

-- CreateTable
CREATE TABLE "project_association" (
    "pma_id" INTEGER NOT NULL,
    "project_id" INTEGER,
    "member_id" INTEGER,
    "association_date" DATE,

    CONSTRAINT "project_association_pkey" PRIMARY KEY ("pma_id")
);

-- CreateTable
CREATE TABLE "project_participation" (
    "project_participation_id" INTEGER NOT NULL,
    "member_id" INTEGER,
    "project_id" INTEGER,
    "association_date" DATE,

    CONSTRAINT "project_participation_pkey" PRIMARY KEY ("project_participation_id")
);

-- CreateTable
CREATE TABLE "users" (
    "uid" VARCHAR NOT NULL,
    "name" VARCHAR,
    "email" VARCHAR,
    "role" "userRoles",
    "creation_date" DATE,
    "updation_date" DATE,
    "isActive" BOOLEAN,

    CONSTRAINT "users_pkey" PRIMARY KEY ("uid")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_uk" ON "users"("email");

-- AddForeignKey
ALTER TABLE "article_participation" ADD CONSTRAINT "article_participation_article_id_fkey" FOREIGN KEY ("article_id") REFERENCES "articles"("article_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "article_participation" ADD CONSTRAINT "article_participation_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "members"("member_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "articles" ADD CONSTRAINT "articles_project_fkey" FOREIGN KEY ("project") REFERENCES "project"("project_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "external_members_projects" ADD CONSTRAINT "external_members_projects_external_member_id_fkey" FOREIGN KEY ("external_member_id") REFERENCES "external_members"("external_members_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "external_members_projects" ADD CONSTRAINT "external_members_projects_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "project"("project_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "project_association" ADD CONSTRAINT "project_association_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "project_associated"("project_associated_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "project_association" ADD CONSTRAINT "project_association_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "project"("project_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "project_participation" ADD CONSTRAINT "project_participation_member_id_fkey" FOREIGN KEY ("member_id") REFERENCES "members"("member_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "project_participation" ADD CONSTRAINT "project_participation_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "project"("project_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

